<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.billboard.mapper.FileUploadMapper">
    <insert id="FileUpload" parameterType="map">
        INSERT INTO community_file
        SET file_name  = #{fileName},
		insert_date = NOW(),
        file_size = #{size},
        board_ID = #{boardID}
    </insert>

</mapper>
